@page "{id?}"
@using Dog_school.Database.Models
@model Dog_school.Pages.Customer.Edit

@{
    ViewData["Title"] = "Klant bewerken pagina";
    var dogs = (Dictionary<Dog, List<string>>?) ViewData["dogs"];
}

<style>
    #navLinks {
        opacity: 1;
    }

    #logoutbtn {
        opacity: 1;
    }

    .orangebold {
        color: #fd7e14;
        font-weight: bold
    }

    .floaty {
        float: left;
    }

    .noMargin {
        margin: 0;
    }

    .OrangeButton {
        background: #fd7e14;
        color: white;
        border-radius: 15px;
        border: none;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hondI {
        float: left;
    }

    .badge {
        float: right;
    }
</style>

@* TODO: <zoekbalk werkend maken> *@
<div class="row-1">
    <h2 class="orangebold">Klant bewerken</h2>

    <div class="col-4" style="margin: 0 auto; margin-bottom: 3%;">
        <form method="post" id="search">
            <label class="orangebold">Zoek Klant</label>
            <input asp-page-handler="Edit" type="search" list="users"/>

            <datalist id="users">
                @foreach (var user in (IEnumerable<User>) ViewData["user search"])
                {
                    <option value="@user.User_ID"> @user.Name</option>
                }
            </datalist>
        </form>
    </div>

    @if ((bool) ViewData["hasData"])
    {
        <div class="col-4 floaty" style="margin-top:5px; margin-bottom: 5px;">
            <h4 class="orangebold" style="margin:3%">Gegevens klant</h4>

            <form method="post">
                <input type="hidden" class="form-control" name="id" id="id" value="@ViewData["id"]"><br>
                <input type="text" class="form-control" name="username" id="username" placeholder="@ViewData["name"]"><br>
                <input type="text" class="form-control" name="address" id="address" placeholder="@ViewData["address"]"><br>
                <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="@ViewData["zip code"]"><br>
                <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="@ViewData["phone number"]" pattern="^(\+31( |)|)((0\d|1\d|\d)\d{2})(( |)\d{2}){3}$"><br>
                <input type="email" class="form-control" name="email" id="email" placeholder="@ViewData["email"]" pattern="^[^@@\s]{1,64}@@[^@@\s]{1,64}\.[^@@\s]{1,64}$"><br>
                <input type="text" class="form-control" name="note" id="note" placeholder="@ViewData["note"]"><br>
                <button class="OrangeButton" type="submit" asp-page-handler="CustomerEdit">Opslaan</button>
                <button class="OrangeButton" type="reset">Annuleren</button>
            </form>
        </div>

        <div class="col-4 floaty">
            <h4 class="orangebold" style="margin:3%">Nieuwe hond toevoegen</h4>

            <form method="post">
                <input type="hidden" class="form-control" name="id" id="id" value="@ViewData["id"]"><br>
                <input type="text" class="form-control" name="name" id="name" placeholder="Naam Hond"><br>
                <input type="text" class="form-control" name="breed" id="breed" placeholder="Ras Hond"><br>
                <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Geboorte Datum"><br>
                <input type="text" class="form-control" name="note" id="note" placeholder="Opmerking"><br>

                <select class="form-control" name="gender" id="gender" placeholder="Geslacht">
                    @foreach (var gender in Enum.GetValues(typeof(Gender)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select><br>

                <select class="form-control" name="course" id="course">
                    @foreach (var course in (IEnumerable<Course>) ViewData["courses"])
                    {
                        <option value="@course.Course_ID">@course.Name</option>
                    }
                </select><br>

                <button class="OrangeButton" type="submit" asp-page-handler="DogCreate">Voeg hond toe</button>
                <button class="OrangeButton" type="reset">Annuleren</button>
            </form>
        </div>

        <div class="col-4 floaty">
            <h4 class="orangebold" style="margin:3%">Gegevens honden</h4>

            @foreach (var dog in dogs!.Keys)
            {
                <div class="col-12" style="border: 1px solid lightgrey; border-radius: 20px; min-height: 250px;padding-right: 0;">
                    <div class="col=10 hondI">
                        <h5 class="orangebold">@dog.Name</h5>
                        <p class="noMargin">Ras: @dog.Breed</p>
                        <p class="noMargin">Geboortedatum: @dog.Date_of_birth</p>
                        <p class="noMargin">Geslacht: @dog.Gender</p>
                        <p class="noMargin">Opmerking: @dog.Note</p><br>
                        <p class="noMargin">Cursussen:</p>

                        @if (dogs![dog].Count > 0)
                        {
                            @foreach (var course in dogs![dog])
                            {
                                <p class="noMargin">-@course</p>
                            }
                        }
                        else
                        {
                            <p class="noMargin">Hond staat niet ingeschreven voor cursussen</p>
                        }

                    </div>

                    @* <div class="badge noMargin" > *@
                    @* <img src="images/baseline_military_tech_black_24dp.png" width="100%" height="100%"> *@
                </div>
            }
        </div>
    }
</div>